<link href="css/empleado.css" rel="stylesheet" />
<div cg-busy="myPromise">
	<div ng-init="init()" ng-style="style()" resize>
		<section id="content">
			<br>
			<h1 id="title"> Administración de Empleados</h1>

			<div class="tablaContenido">
				<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Nuevo Empleado"  ng-click="NuevoEmpleado()" id="btnNuevoEmpleado">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
				</button>
				<br>
				<table class="table table-striped table-condensed table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th></th>
							<th>Nombre</th>
							<th>Apellido Paterno</th>
							<th>Apellido Materno</th>
							<th>Área</th>
							<th>Departamento</th>
							<th>Email</th>
							<th>Sexo</th>
							<th>Estatus</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="empleado in listaEmpleados">
							<td> {{ empleado.idEmpleado }} </td>
							<td> <img src="{{ empleado.avatar }}" class="empAvatar"/>  </td>
							<td> {{ empleado.nombre }} </td>
							<td> {{ empleado.apellidoPaterno }} </td>
							<td> {{ empleado.apellidoMaterno }} </td>
							<td> {{ empleado.nombreArea }} </td>
							<td> {{ empleado.nombreDepartamento }} </td>
							<td> {{ empleado.email }} </td>
							<td> {{ empleado.nombreSexo }} </td>
							<td> {{ empleado.nombreEstatus }} </td>
							<td>
								<button type="button" class="btn btn-info glyphicon glyphicon-pencil" ng-click="EditarEmpleado(empleado)"></button>

							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</section>
	</div>
</div>

<!-- Area de modales -->
<div class="modal fade" id="viewEmpleado">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Empleado</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="col-lg-4 control-label">Nombre</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" ng-model="empleadoTemp.nombre" placeholder="Nombre del empleado" ng-class="{ 'requiredInput' : empleadoTemp.nombre.length < 1 }"></input>
					</div>
				</div>
				<br />
				<div class="form-group">
					<label class="col-lg-4 control-label">Apellido Paterno</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" ng-model="empleadoTemp.apellidoPaterno" placeholder="Apellido Paterno" ng-class="{ 'requiredInput' : empleadoTemp.apellidoPaterno.length < 1 }"></input>
					</div>
				</div>
				<br />
				<div class="form-group">
					<label class="col-lg-4 control-label">Apellido Materno</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" ng-model="empleadoTemp.apellidoMaterno" placeholder="Apellido Materno" ng-class="{ 'requiredInput' : empleadoTemp.apellidoMaterno.length < 1 }"></input>
					</div>
				</div>
				<br />
				<div class="form-group">
					<label class="col-lg-4 control-label">Área</label>
					<div class="col-lg-8">
						<div class="btn-group" dropdown is-open="status.isopen1">
							<button type="button" class="btn btn-primary dropdown-toggle">
								{{ labelArea }} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a ng-click="toggleArea($event,1)">Gerencia</a></li>
								<li><a ng-click="toggleArea($event,2)">Atención al Cliente</a></li>
								<li><a ng-click="toggleArea($event,3)">Relaciones Públicas</a></li>
								<li><a ng-click="toggleArea($event,4)">ALmacén</a></li>
								<li><a ng-click="toggleArea($event,5)">Finanzas</a></li>
								<li><a ng-click="toggleArea($event,6)">Envios</a></li>
							</ul>
						</div>
					</div>
				</div>
				<br />			<div class="form-group">
				<label class="col-lg-4 control-label">Departamento</label>
				<div class="col-lg-8">
					<div class="btn-group" dropdown is-open="status.isopen2">
						<button type="button" class="btn btn-primary dropdown-toggle">
							{{ labelDepartamento }} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a ng-click="toggleDepartamento($event,1)">Gerencia Operativa</a></li>
							<li><a ng-click="toggleDepartamento($event,2)">Recepción</a></li>
							<li><a ng-click="toggleDepartamento($event,3)">Call Center</a></li>
							<li><a ng-click="toggleDepartamento($event,4)">Ventas</a></li>
							<li><a ng-click="toggleDepartamento($event,5)">Correspondencia</a></li>
							<li><a ng-click="toggleDepartamento($event,6)">Cobranza</a></li>
							<li><a ng-click="toggleDepartamento($event,7)">Mensajero</a></li>
						</ul>
					</div>
				</div>
			</div>
			<br />
			<div class="form-group">
				<label class="col-lg-4 control-label">Email</label>
				<div class="col-lg-8">
					<input type="text" class="form-control" ng-model="empleadoTemp.email" placeholder="Cuenta de correo interna" ng-class="{ 'requiredInput' : empleadoTemp.email.length < 1 }"></input>
				</div>
			</div>
			<br />
			<div class="form-group">
				<label class="col-lg-4 control-label">Usuario</label>
				<div class="col-lg-8">
					<input type="text" class="form-control" ng-model="empleadoTemp.usuario" placeholder="Usuario del sistema" ng-class="{ 'requiredInput' : empleadoTemp.usuario.length < 1 }"></input>
				</div>
			</div>
			<br />
			<div class="form-group">
				<label class="col-lg-4 control-label">Password</label>
				<div class="col-lg-8">
					<input type="text" class="form-control" ng-model="empleadoTemp.contrasena" placeholder="Password del sistema" ng-class="{ 'requiredInput' : empleadoTemp.contrasena.length < 1 }"></input>
				</div>
			</div>
			<br />
			<div class="form-group">
				<label class="col-lg-4 control-label">Sexo</label>
				<div class="col-lg-8">
					<div class="btn-group">
						<label class="btn btn-primary" ng-model="empleadoTemp.sexo" btn-radio="1">Masculino</label>
						<label class="btn btn-primary" ng-model="empleadoTemp.sexo" btn-radio="2">Femenino</label>
					</div>
				</div>
			</div>
			<br />
			<div class="form-group">
				<label class="col-lg-4 control-label">Estatus</label>
				<div class="col-lg-8">
					<div class="btn-group">
						<label class="btn btn-primary" ng-model="empleadoTemp.estatus" btn-radio="1">Activo</label>
						<label class="btn btn-primary" ng-model="empleadoTemp.estatus" btn-radio="0">Inactivo</label>
					</div>
				</div>
			</div>
			<br />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-click="GuardarEmpleado()" data-loading-text="Guardando..." id="btnGuardarEmpleado" >Guardar</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->