<link href="css/local/factura.css" rel="stylesheet" />
<div cg-busy="myPromise">
    <div ng-init="init()" ng-style="style()" resize>
        <h1 id="title"> {{ cliente.razonSocial }} </h1>
        <div id="contenido">
            <section id="stnParametros" class="stn">
                <div class="row">
                    <div class="col-lg-2 fila">
                       Forma de Pago:
                    </div>
                    <div class="col-lg-2 fila">
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle">
                              {{ labelDrop }}  <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="SetPago( 1, $event, 'No identificado')">No identificado</a></li>
                                <li><a ng-click="SetPago(2,$event, 'Transferencia')">Transferencia</a></li>
                                <li><a ng-click="SetPago(3,$event, 'Cheque')">Cheque</a></li>
                                <li><a ng-click="SetPago(4,$event, 'Tarjeta de crédito')">Tarjeta de crédito</a></li>
                                <li><a ng-click="SetPago(5,$event, 'Tarjeta de débito')">Tarjeta de débito</a></li>
                                <li><a ng-click="SetPago(6,$event, 'Efectivo')">Efectivo</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 fila">
                      Cuenta:
                    </div>
                    <div class="col-lg-2 fila">
                      <input type="text" ng-model="cuentaDePago" class="form-control" disabled/>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
                 <div class="row">
                    <div class="col-lg-2 fila">
                      Desde:
                    </div>
                    <div class="col-lg-2 fila">
                       <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtDesde" is-open="openedDesde" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDesde($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                     <div class="col-lg-8"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 fila">
                      Hasta:
                    </div>
                    <div class="col-lg-2 fila">
                       <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtHasta" is-open="openedHasta" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openHasta($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                     <div class="col-lg-8"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 fila">
                        Observaciones:
                    </div>
                    <div class="col-lg-6 fila">
                        <input type="text" ng-model="factura.observaciones" class="form-control" />
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </section>
            
            <hr>
            
            <section id="stnEntrada" class="stn">
                <div class="row">
                    <div class="col-md-2 fila">
                      Producto o Servicio:
                    </div>
                    <div class="col-md-3 fila">
                        <input class="form-control" type="text" ng-model="semilla" placeholder="Capture el servicio o consumo" id="tProducto" ng-click="Clear()">
                    </div>
                    <div class="col-md-1"> Cantidad:</div>
                    <div class="col-md-1"> <input type="text" ng-model="tempProducto.cantidad" class="form-control" /></div>
                    <div class="col-md-1"> Precio </div>
                    <div class="col-md-1"><input type="text" ng-model="tempProducto.precio" class="form-control" /></div>
                    <div class="col-md-3"></div>
                </div>
                 <div class="row">
                    <div class="col-lg-2 fila">
                        <button type="button" class="btn btn-primary" ng-click="Agregar()">
                            Agregar
                        </button>
                    </div>
                </div>
            </section>
            
            <hr>

            <section id="stnCuerpo" class="stn">
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Total</th>
                            <th>Acciones</th>
                            <!--<th style="width:80px;"></th>  factura.listaServicios-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="servicio in factura.listaServicios track by servicio.id">
                            <td> {{ servicio.descripcion }} </td>
                            <td> {{ servicio.cantidad }} </td>
                            <td> {{ servicio.precio }} </td>
                            <td> {{ servicio.precio * servicio.cantidad }} </td>
                            <td>
                                <button type="button" class="btn btn-default glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Eliminar" ng-click="Eliminar(servicio.id)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section id="stnTotales">
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-1 strong500">Subtotal $</div>
                    <div class="col-md-1">{{ subtotal | number:2 }}</div>
                </div>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-1 strong500">IVA $</div>
                    <div class="col-md-1">{{ iva | number:2 }}</div>
                </div>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-1 strong500">Total $</div>
                    <div class="col-md-1">{{ total | number:2 }}</div>
                </div>
            </section>
            <section id="stnControles">
                <button class="btn btn-default" ng-click="Cancelar()">Cancelar</button>
                <button class="btn btn-default" ng-click="Procesar()">Procesar Factura</button>
             </section>
            <br />
            <br />
        </div>
    </div>
</div>
