#chat {
  height: 250px;
  overflow: auto; }

.chatItem {
  margin-bottom: 5px; }

.chatItem .left {
  text-align: left; }

.chatItem .right {
  text-align: right; }

.chatItem .sender {
  width: 100%;
  font-weight: 600;
  color: #2d81ca; }

.chatItem .date {
  width: 100%;
  font-size: 11.5px;
  font-style: oblique; }

.chatItem .text {
  width: 100%;
  font-size: 13px; }

.iconChat {
  font-size: 11px; }
