#stnNavegacion {
  width: 100%; }

#stnControles {
  position: absolute;
  right: 0;
  padding-right: 50px; }

#stnFacturas {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 220px;
  padding-bottom: 50px; }

#contenido {
  padding-top: 70px; }

.contentRight {
  padding-left: 20px; }

.labelResumen {
  font-size: 0.8em; }

.textoResumen {
  font-size: 0.9em;
  font-weight: 300; }

#balance {
  width: 55%;
  position: absolute;
  right: 0; }

#balanceCobrar {
  font-size: 35px;
  font-weight: 600; }

#balanceDesgloce {
  padding-top: 15px; }

#folio {
  width: 150px; }

.white {
  color: white; }

.cuentaControles {
  padding-top: 15px;
  padding-bottom: 15px; }
