#title {
  font-size: 28px;
  padding: 10px;
  font-weight: 100;
  width: 100%;
  text-align: -webkit-center; }

.tablaContenido {
  margin-left: 50px;
  margin-right: 50px; }

.btnAccion {
  float: right; }

#btnAgregaProducto {
  float: right; }

#btnActualizaProducto {
  float: right; }
