<link href="css/enviolist.css" rel="stylesheet" />
<div cg-busy="myPromise">
  <div ng-init="init()" ng-style="style()" resize>
    <section id="header">
      <div id="titulo">
        Envíos pendientes
      </div>
    </section>
    <section id="body">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Material</th>
            <th>Horario</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="envio in listaEnviosMonitor" ng-class="{ 'success' : envio.etapa == 2 }">

            <td>{{ envio.razonSocial }}</td>
            <td>{{ envio.hora }}</td>
            <td>{{ envio.material }}</td>
            <td>
              <button type="button" class="btn btn-success btnEntrada" aria-label="Left Align" ng-click="IniciarEnvio(envio);" data-loading-text="...">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="Entregar(envio);">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
