.oculto{
    display: none;
}

.modalCenterTitle
{
    text-align: -webkit-center;
}

.contactList
{
    list-style: none;
}

.gridStyle {
padding-top: 5px;
height: 150px;
}

.gridContactContent{
	
}

.checkContacto{
    font-size: 13px;
	
}

.checkMail{
    font-size: 13px;
	
}

.checkTelefono{
    font-size: 13px;
	
}

.checkCorreo{
    font-size: 13px;
	
}

#tabBuzon{
    height: 100px;

    background: red;
}

.tableBody{
    padding:20px;
}


#btnReservar
{
float: right;
margin-right: 10px;
margin-bottom: 10px;
}


.firma
{
    width: 380px;

    height: 222px;
    margin-top: 10px;
    margin-left: 120px;
    border: none;
}

#btnAgregaServicio
{
    float: right;
    margin: 20px;
}

.btnActualizar
{
    float: right;
    margin: 20px;
}