#stnControles
{
	position: absolute;
	right: 0;
	padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#stnTotales
{
     padding-top: 20px;
}

#contenido
{
	padding-top: 70px;
}

.stn
{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

.fila
{
	padding-bottom: 5px;
}

.strong500{
    font-weight: 600;
}

