<link href="css/salaMain.css" rel="stylesheet" />
<link href='css/fullcalendar.css' rel='stylesheet' />
<div cg-busy="myPromise">
	<div ng-init="init()" ng-style="style()" resize>
		<section id="header" class="mainContent">	
			<h1 id="titulo"> {{ cliente.razonSocial }} </h1>

			<div id="selectDate">
				<div class="row">
					<div class="col-md-3">
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Cerrar" ng-change="SetDate()"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
						
					</div>
					<div class="col-md-2"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="Limpiar()">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Limpiar
					</button></div>
					<div class="col-md-3">
						<div class="row">
							Sucursal

							<div class="btn-group">
								<label class="btn btn-primary" ng-model="sucursal" btn-radio="1" ng-change="Refresh()">Del Valle 1</label>
								<label class="btn btn-primary" ng-model="sucursal" btn-radio="2" ng-change="Refresh()">Del Valle 2</label>
							</div>
						</div>	
					</div>
					<div class="col-md-3">
						<div class="row">
							Tipo
							<div class="btn-group">
								<label class="btn btn-info" ng-model="tipo" btn-radio="1" ng-change="Refresh()">Sala</label>
								<label class="btn btn-info" ng-model="tipo" btn-radio="2" ng-change="Refresh()">Oficina</label>
								<label class="btn btn-info" ng-model="tipo" btn-radio="3" ng-change="Refresh()" ng-class="{ 'oculto': hasHotDesk }">Hot Desk</label>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
		<section id="rooms" class="mainContent">
			<div id="room1"></div>
			<div id="contentDetail">
				<div id="tabs">
					<tabset>
						<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" ng-click="CambiaTab();">
							<div id="tabsContent">
								<img src="{{tab.photo}}" id="foto">
								<div id="ficha">
									<div class="row" ng-repeat="element in tab.details">
										<div class="col-md-6 ">{{element.name}}</div>
										<div class="col-md-6 category"> {{element.value}}</div>
									</div>
								</div>
							</tab>
						</div>

					</tabset>
				</div>
				<div  id="details" class="well">
					Detalle de su reservación
					<!-- Table -->
					<table class="table"> 
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Desde</th>
								<th>Hasta</th>
								<th>Horas</th>
								<th>Costo p/Hora</th>
								<th>SubTotal</th>
								<th>Saldo</th>
								<th>Total Final</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td> {{ fecha }}</td>
								<td> {{ desde }}</td>
								<td> {{ hasta }}</td>
								<td> {{ horas }}</td>
								<td> {{ costoPorHora }}</td>
								<td> {{ subTotal }}</td>
								<td> {{ saldo }}</td>
								<td> {{ total }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<section id="adicionales">
			<div class="row">
				<div class="col-md-2">Comentarios</div>
				<div class="col-md-5">
					<textarea class="form-control" rows="3" ng-model="objetoSala.comentarios" placeholder="Comentarios adicionales para monitor"></textarea>
				</div>  
			</div>
			<br>
			<div class="row">
				<div class="col-md-2">Destinatarios</div>
				<div class="col-md-5">
					<div class="gridStyle Grid200" ng-grid="gridOptions"></div>
				</div>  
			</div>
		</section>
		<section id="confirma">
			<div class="row">
		
				<div class="col-md-12">
					<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="Cancelar()">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="Reservar()" id="btnReservar" data-loading-text="Reservando..." >
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Agendar
					</button>

				</div> 
			</div>
			<br>
	</section> 

</div><!-- Contenedor principal -->
</div>
