<link href="css/salaSearch.css" rel="stylesheet" />
<link href='css/fullcalendar.css' rel='stylesheet' />
<div cg-busy="myPromise">
	<div ng-init="init()" ng-style="style()" resize>

		<section id="header" class="mainContent">
			<h1 id="titulo"> Reservaciones para Hoy </h1>
			<div class="lastUpdate">Última actualización: {{ lastUpdate }} </div>
		</section>
		<section id="controls" class="mainContent">
			
		</section>
		<section id="grid" class="mainContent">
			<div class="row">
				<div id="dateSearch">
					<p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="RecargaReservaciones()" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Del Valle 1</h3>
				</div>
				<div class="panel-body">
					<table class="table"> 
				<thead>
					<tr>
						<th>Sala</th>
						<th>Cliente</th>
						<th>Inicio</th>
						<th>Término</th>
						<th>Reservó</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="sala in listaReservacionesHoy1">
                        <td>{{ sala.sala }}</td>
						<td>{{ sala.cliente }}</td>
						<td>{{ sala.desde }}</td>
						<td>{{ sala.hasta }}</td>
						<td>{{ sala.reserva }}</td>
						<td>
							<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="LiberarReservacion(sala);" ng-class="{ 'oculto' : sala.tipo != 3 || sala.etapa > 1 }" title="Liberar sala">
								<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="EliminarReservacion(sala);" title="Eliminar sin quitar el consumo">
								<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="CancelarReservacion(sala);" title="Cancelar Reservación">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Del Valle 2</h3>
				</div>
				<div class="panel-body">
					<table class="table"> 
				<thead>
					<tr>
						<th>Sala</th>
						<th>Cliente</th>
						<th>Inicio</th>
						<th>Término</th>
						<th>Reservó</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="sala in listaReservacionesHoy2">
                        <td>{{ sala.sala }}</td>
						<td>{{ sala.cliente }}</td>
						<td>{{ sala.desde }}</td>
						<td>{{ sala.hasta }}</td>
						<td>{{ sala.reserva }}</td>
						<td>
							<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="LiberarReservacion(sala);" ng-class="{ 'oculto' : sala.tipo != 3 || sala.etapa > 1 }" title="Liberar sala">
								<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="EliminarReservacion(sala);" title="Eliminar sin quitar el consumo">
								<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="CancelarReservacion(sala);" title="Cancelar Reservación">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
				</div>
			</div>
		</section>
		<section id="footer" class="mainContent">
		</section>
	</div><!-- Contenedor principal -->
</div>


<!--Modal de cancelación de reservación-->
<div id="rescancel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                <h3 class="modal-title modalCenterTitle" id="myModalLabel"> Cancelar reservación </h3>
            </div>
            <div class="modal-body">
                <h4 class="control-label">De: {{ empleado.nombre + ' ' + empleado.apellidoPaterno + ' ' + empleado.apellidoMaterno }}</h4>
                <h4 class="control-label">Para: {{ reenviarDestinatario }}</h4>
                <br />
                <div class="gridStyle" ng-grid="gridOptions"></div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Motivo</label>
                    <div class="col-lg-8">
                        <textarea rows="2" class="form-control" ng-model="motivoCancelaReservacion" placeholder="Motivo por el cual se cancela la reservación" ></textarea>
                    </div>
                </div>
                <br />
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-loading-text="Cancelando..." ng-click="CancelarReservacionFinal()" id="btncancelarReservacion">Cancelar reservación</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>